@font-face {
  font-family: "MPLUS2 Regular";
  src: url(assets/fonts/MPLUS2-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MPLUS2 Bold";
  src: url(assets/fonts/MPLUS2-Bold.ttf) format("truetype");
}
