span.spacer {
  flex: 1 1 auto;
}

.container {
  margin: auto;
  user-select: none;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.container > * {
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.info-tiles {
  width: 100%;
  line-height: 100%;
  font-size: 2.5rem;
  /* font-family: "MPLUS2 Regular"; */
  text-align: center;
  color: #777777;
}

.judge {
  /* flex-basis: 70%; */
  padding: 0.5ex;
  background-color: white;
  border-radius: 10px;
}
