.title {
  font-family: "MPLUS2 Regular";
}

.container {
  margin: auto;
}

.container > * {
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.container .board {
  width: max-content;
  display: flex;
  background-color: #d5d9f6;
  border-radius: 5%;
}

.info-tiles {
  width: 100%;
  line-height: 100%;
  font-size: 2.5rem;
  font-family: "MPLUS2 Regular";
  text-align: center;
  color: #777777;
}

.judge {
  /* flex-basis: 70%; */
  padding: 0.5ex;
  background-color: white;
  border-radius: 10px;
}

.info-tiles * {
  /* line-height: 100%; */
  /* flex-grow: 1; */
}
